<span>Show:</span>
<input type="radio" name="employeeCount" value="All" [(ngModel)] ="selectedRadioButtonValue" (change) ="onRadioButtonValueChanged()"/> <span>All({{all}})</span>
<input type="radio" name="employeeCount" value="Male" [(ngModel)] ="selectedRadioButtonValue" (change) ="onRadioButtonValueChanged()"/> <span>Male({{male}})</span>
<input type="radio" name="employeeCount" value="Female" [(ngModel)] ="selectedRadioButtonValue" (change) ="onRadioButtonValueChanged()"/> <span>Female({{female}})</span>